@charset " uft-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	margin: 0px auto;
}
.nav_top{
	width: 100%;
	display: flex;
	height: 80px;
}
.nav_t_l{
	width: 33%;
}
.nav_t_c{
	width: 34%;
	text-align: center;
}
.nav_t_r{
	width: 33%;
}
.fa{
	cursor: pointer;
	padding-left: 15px;
	padding-top: 20px;
}




.wrapper{
	width: 100%;
	text-align: center;
	line-height: 20px;
	position: absolute;
	z-index: 60;
}
.wrapper nav{
	width: 100%;
	position: absolute;
	background: white;
	font-size: 14px;
	
}
.wrapper nav > ul{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: 0;
}
.wrapper nav .dropdown a{
	display: block;
	color: black;
	font-family: 'Overlock', cursive;
	text-decoration: none;
	text-transform: uppercase;
}
.wrapper nav ul li{
	color: #fff;
	list-style: none;
	transition: 0.5s;
}

.wrapper nav > ul > li > a{
	padding: 15px 15px;
}
.wrapper nav ul > li.dropdown > a:after{
	position: relative;
	float: right;
	content: '';
	margin-left: 10px;
	margin-top: 0px;
}
.wrapper nav > ul > li > a:hover{
	color:red;
}
.wrapper nav ul.menu-area, .menu-area_mode{
	padding: 40px 0px 0px 0px;
	background: #fff;	
	text-align: left;
	border-top: 1px solid #164c82;
	box-shadow: 0 5px 10px rgba(0,0,0,0.6);
	z-index: 1;
	position: absolute;
	width: 100%;
	top: -9999px;
	left: 0;
}

.menu-area h2{
	text-align: center;
	color: black;
	font-family: 'Caveat', cursive;
}
.menu-area a{
	color: #8C8989;
	text-decoration:underline;
	text-align: center;
}
.menu-area a:hover{
	color: red;
}
.wrapper nav ul li:hover ul.menu-area{
	top: 100%;
}
.wrapper nav ul li:active ul.menu-area_mode{
	top: 100%;
}
.menu-area{
	width: 100%;
}

/*image_banner*/
.slider{
  width: 100%;
  overflow: hidden;
}

.slides{
  width: 500%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: auto;
}




#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}



.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 41%;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}







.carousel-inner img {
	width: 100%;
}
.carousel-caption button {
	position: absolute;
	top: 10%;
}

.bonus{
	width: 100%;
	text-align: center;
}
.bn_text{
	width: 100%;
	text-align: center;
}
.bn_text h1{
	padding: 20px 15% 0px 15%;
	color: #C80B0E
}
.bn_text p{
	padding: 20px 19%;
}

.main1{
	width: 100%;
	display: flex;
	margin-top: 40px;
}
.main2{
	width: 100%;
	display: flex;
	margin-top: 40px;
}
.row{
	width: 60%;
	display:flex;
	margin: 0px auto;
}
.row span{
	color: red;
}
.row p{
	color:#3C3A3A;
}
.row div{
	width: 100%;
	margin: 10px 0px;
}
.row img{
	padding-left: 15%;
}
.lienhe{
	margin-top: 50px;
	width: 100%;
	display: flex;
	text-align: center;
}
.lienket, .send_mail{
	width: 100%;
	margin: 5% 5%;
}
.lienket i, h5{
	color: #555555;
}
.lienket i{
	padding: 20px 10px;
}
.lienket i:hover{
	color:#871B1D;
}
.row1{
	width: 100%;
	display: flex;
	font-size: 13px;
	margin-bottom: 30px;
}
.row1 div{
	padding: 3% 5%;
}
.row1 h4{
	font-size: 15px;
}
.row1 ul, li , a{
	list-style: none;
	color: #555555;
	text-decoration: none;
}.footer{
	width: 100%;
	display: flex;
	background: #F9F9F9;
}
.footer ul{
	list-style: none; 
	display: flex;
}
.footer ul li{
	padding: 5px 15px;
}
.footer ul li a{
	text-decoration: none;
	font-size: 12px;
}
.footer ul li a:hover{
	color: red;
}

button{
	color:#3E3B3B; 
	border: 0.2px solid #3E3B3B; 
	background: white; 
	padding: 5px 20px;
	cursor: pointer
}


/* Mobile <740px */
@media only screen and (max-width: 46.1875em){
	.main2{
		display: block;
	}
}
@media only screen and (min-width: 60em){
	.left{
		position: fixed;
		top: 130px;
		left: 0;
		bottom: 0;
		width: 320px;
		max-width: 100%;
		background: white;
		transform: translateX(-100%);
		overflow-y:scroll;
		opacity: 0;
		transition: all linear 0.2s;
		border-top: 2px solid #797979;
		z-index: 50;
	 }
}
/* tablet <960px */
@media only screen and (max-width: 60em){
	.wrapper, .nav_t_l nav, .fa-map-marker, .row1, .footer_hidden{
		display: none;
	}
	.ftr_{
		margin-left: 35%;
		text-align: center;
	}
	.left{
		position: fixed;
		top: 80px;
		left: 0;
		bottom: 0;
		width: 320px;
		max-width: 100%;
		overflow-y: scroll;
		background: white;
		transform: translateX(-100%);
		opacity: 0;
		transition: all linear 0.2s;
		border-top: 2px solid #797979;
		z-index: 50;
	 }
	.nav_top{
		border-bottom: 1px solid #BDBDBD;
	}
	.search-box{
		margin-right: -30px;
	}
	.row1 button{
		display: block;
	}
	.footer ul{
		align-content: center;
	}
	.bonus{
		margin-top: 400px;
	}
	#hidden{
		display: none;
	}
	#banner{
		position: absolute;
		top: 31px;
		z-index: 40;
	}
	.search{
		position: absolute;
		top: 31px;
		z-index: 40;
	}
	#h1{
		padding-top: 220px;
	}
	.main1{
		display: block;
	}
	.img{
		width: 80%;
		margin: 20px 10px;
	}
	#h1_1{
		margin-bottom: 20px;
		width: 60%;
	}
	.h2{
		display: block;
		font-size: 10px;
	}
	.main1_1{
		display: flex;
	}
	.lienhe{
		display: block;
		padding: 15px 0px 5px 0px;
	}
}
.row h4{
	color: black;
	font-family: 'Caveat', cursive;
	font-weight: bold;
	padding-left: 35%;
	margin-bottom: 5px;
}
.row ul li:hover a{
	color:#911113;
}
.row .col-md-2:hover a{
	color:#911113;
}

/*search*/
.search-box{
	position: absolute;
	top: 30px;
	right: 110px;
	transform: translate(0%,-50%);
	border: 1px solid #2f3640;
	height: 20px;
	border-radius: 40px;
	padding: 10px;

}
.search-box:hover > .search-txt{
	width: 200px;
	padding: 0 6px;
}
.search-box:hover > .search-btn{
	background: white;

}
.search-btn{
	color: #e84118;
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}
.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #2f3640;
	font-size: 15px;
	transition: 0.4s;
	line-height: 20px;
	width: 0px;
}

/*Contener*/
	
	.ctn_image img{
		width: 80%;
		height: 90%;
		text-align: center;
	}

/* Footer*/
#send_mail:hover{
	background: white;
	color:  rgb(180, 17, 17);
	cursor: pointer;
	border: 1px solid rgb(180, 17, 17);
}
	.send_mail input[type="text"]{
		border:1px thin #8C8989;
        background: none;
        padding: 10px 5px;
        width: 200px;
        color: black;
        transform: 0.25px;
        
	}
	.send_mail input[type="submit"]{
        text-align: center;
        width: 80px;
        padding: 10px 10px;
		transform: 0.25px;
		background: rgb(180, 17, 17);
		color: white;
		border: none;
	}
.column-layout__container{
	width: 80%;
	display: flex;
	margin: 0px auto;
}


.column-item{
	width: 20%;
	padding: 20px 20px;
	text-align: center;
}
.column-item img{
	width: 70%;
	height: 80%;
}
.column-item a{
	font-size: 12px;
}
.column-item a:hover{
	color: #990002;
}


.column-layout__container4{
	width: 64%;
	display: flex;
	margin: 0px auto;
}
.column-item4{
	width: 25%;
	padding: 20px 20px;
	text-align: center;
}
.column-item4 img{
	width: 70%;
	height: 80%;
}
.column-item4 a{
	font-size: 12px;
}
.column-item4 a:hover{
	color: #990002;
}

.column-layout__container3{
	width: 48%;
	display: flex;
	margin: 0px auto;
}
.column-item3{
	width: 33.333%;
	padding: 20px 20px;
	text-align: center;
}
.column-item3 img{
	width: 70%;
	height: 80%;
}
.column-item3 a{
	font-size: 12px;
}
.column-item3 a:hover{
	color: #990002;
}

.column-layout__container6{
	width: 90%;
	display: inline-flex;
	margin: 0px auto;
}
.column-item6{
	width: 16.666%;
	padding: 20px 10px;
	text-align: center;
}
.column-item6 img{
	width: 100%;
	height: 90%;
}


.column-layout__container2{
	width: 32%;
	display: flex;
	margin: 0px auto;
}
.column-item2{
	width: 50%;
	padding: 20px 20px;
	text-align: center;
}
.column-item2 img{
	width: 70%;
	height: 80%;
}
.column-item2 a{
	font-size: 12px;
}
.column-item2 a:hover{
	color: #990002;
}

.column-layout__container1{
	width: 16%;
	display: flex;
	margin: 0px auto;
}
.column-item1{
	width: 100%;
	padding: 20px 20px;
	text-align: center;
}
.column-item1 img{
	width: 70%;
	height: 80%;
}
.column-item1 a{
	font-size: 12px;
}
.column-item1 a:hover{
	color: #990002;
}

.column-layout__container_find{
	width: 80%;
	display: flex;
	margin: 0px auto;
}
.column-item_find{
	width: 50%;
	padding: 20px 10px;
	text-align: center;
}
.column-item_find img{
	width: 100%;
	height: 90%;
}


.h3{
	margin-top: 70px;
	color: #7D7979;
	text-align: center;
	font-family: 'Cinzel', serif;
}
.h1{
	color: #9A0002;
	text-align: center;
	font-family: 'Cinzel', serif;
}
h1{
	margin-bottom: 20px;
}
#banner{
	width: 100%; 
	margin-top: 50px;
}
#banner1{
	width: 100%; 
	margin-top: 50px;
}
.search{
	width: 100%; 
	margin-top: 50px;
	height: 50px;
	margin-left: 20%;
	transform: translatey(-300%);
	opacity: 0;
	transition: all linear 0.2s;
	z-index: 50;
}
#search_{
	position: absolute; 
	left: 55%; 
	margin-top: 5px; 
	font-size: 20px; 
	color:#A69F9F;
}
.account{
	width: 100%; 
	height: 550px; 
}
.btn{

	padding: 10px 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.btn:hover{
	background: #890002;
	color: white;
	border: none;
	border-radius: 3px;
	animation: fadeIn 0.3s;
}
.col-md-2 a:hover{
	color:#AC0002;
}


.nav {
    display: flex;
    align-items: center;
    height: 48px;
}
.nav_bars-btn{
	width: 28px;
	height: 28px;
	margin-left: 10px;
	padding-top: 5px;
	color: black;
}
.nav__overlay{
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
	display: none;
	animation: fadeIn linear 0.2s;
	z-index: 50;
}

.nav__input:checked ~ .nav__overlay{
	display: block;
	
}
.nav__input:checked ~ .left{
	transform: translateX(0%);
	opacity: 1;
}
#tabs{
	width: 100%;
	text-align: center;
}
#tabs ul{
	margin-bottom: 70px;
}
#tabs ul li{
	display: inline-block;
	padding: 20px 20px;
}
#tabs ul li a:hover{
	color: red;
}
@keyframes fadeIn {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.accordion-item-header {
  padding: 0rem 1rem 0rem 1rem;
  min-height: 2.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  color: #0286CD;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-out 0.2s;
}
.accordion-item-body-content {
  padding: 0rem 0.5rem 0rem 0.5rem;
  line-height: 1rem;
}
.accordion-item-body-content ul{
  padding-left: 20px; 
  list-style: none;
}
.accordion-item-body-content ul a{
  color: black;
  text-decoration: none;
}



/*nav_left*/
#accordion{
	width: 320px;
}
#accordion section{
	padding: 10px 40px;
}
#accordion section ul{
	display: none;
	text-align: center;
}
#accordion section a{
	color: black;
	text-decoration: none;
}
#accordion section a:hover{
	text-decoration: underline;
}
#accordion section:target ul{
	display: block;
}





table{
	margin: 0px auto;
}
td{
	width: 30%;
}
.sign_up{
	width: 80%;
	height: 900px;
	margin: 0px auto;
}