@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	margin: 0px auto;
}
.nav_top{
	width: 100%;
	display: flex;
	height: 80px;
}
.nav_t_l{
	width: 33%;
}
.nav_t_c{
	width: 34%;
	text-align: center;
}
.nav_t_r{
	width: 33%;
}
.fa{
	color: black;
	font-size: 20px;
	cursor: pointer;
	padding-left: 15px;
	padding-top: 20px;
}




.wrapper{
	width: 100%;
	text-align: center;
	height: 50px;
	position: absolute;
	z-index: 10;
}
.wrapper nav{
	width: 100%;
	position: absolute;
	background: white;
	font-size: 14px;
	
}
.wrapper nav > ul{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: 0;
}
.wrapper nav .dropdown a{
	display: block;
	color: black;
	font-family: 'Overlock', cursive;
	text-decoration: none;
	text-transform: uppercase;
}
.wrapper nav ul li{
	color: #fff;
	list-style: none;
	transition: 0.5s;
}

.wrapper nav > ul > li > a{
	padding: 15px 15px;
}
.wrapper nav ul > li.dropdown > a:after{
	position: relative;
	float: right;
	content: '';
	margin-left: 10px;
	margin-top: 8px;
}
.wrapper nav > ul > li > a:hover{
	color:red;
}
.wrapper nav ul.menu-area{
	padding: 40px 40px 0px 40px;
	background: #fff;	
	text-align: left;
	border-top: 1px solid #164c82;
	box-shadow: 0 5px 10px rgba(0,0,0,0.6);
	z-index: 1;
	position: absolute;
	width: 100%;
	top: -9999px;
	left: 0;
}
.menu-area h2{
	text-align: center;
	color: black;
	font-family: 'Caveat', cursive;
}
.menu-area a{
	color: #8C8989;
	text-decoration:underline;
	text-align: center;
}
.wrapper nav ul li:hover ul.menu-area{
	top: 100%;
}





.carousel-inner img {
	width: 100%;
}
.carousel-caption button {
	position: absolute;
	top: 10%;
}

.bonus{
	width: 100%;
	text-align: center;
}
.bn_text{
	width: 100%;
	text-align: center;
}
.bn_text h1{
	padding: 20px 15% 0px 15%;
	color: #C80B0E
}
.bn_text p{
	padding: 20px 19%;
}

.main1{
	width: 100%;
	display: flex;
	margin-top: 40px;
}
.main2{
	width: 100%;
	display: flex;
	margin-top: 40px;
}
.row{
	width: 100%;
	display:flex;
	text-align: center;
}
.row span{
	color: red;
}
.row p{
	color:#3C3A3A;
}
.row div{
	width: 30%;
	margin: 10px 10px;
}
.row img{
	width: 100%;
	margin: 3%;
}
.lienhe{
	margin-top: 50px;
	width: 100%;
	display: flex;
	text-align: center;
}
.lienket, .send_mail{
	width: 100%;
	margin: 5% 5%;
}
.lienket i, h5{
	color: #555555;
}
.row1{
	width: 100%;
	display: flex;
	font-size: 13px;
	margin-bottom: 30px;
}
.row1 div{
	padding: 3% 3%;
}
.row1 h4{
	font-size: 15px;
}
.row1 ul, li , a{
	list-style: none;
	color: #555555;
	text-decoration: none;
}.footer{
	width: 100%;
	display: flex;
	background: #F9F9F9;
}
.footer ul{
	list-style: none; 
	display: flex;
}
.footer ul li{
	padding: 5px 15px;
}
.footer ul li a{
	text-decoration: none;
	font-size: 12px;
}
.footer ul li a:hover{
	color: red;
}



/* Mobile <740px */
@media only screen and (max-width: 46.1875em){
	.main2{
		display: block;
	}
}
/* tablet <960px */
@media only screen and (max-width: 60em){
	.wrapper, .nav_t_l nav, .fa-map-marker, .row1, .footer{
		display: none;
	}
	.main1{
		display: block;
	}
	.img{
		width: 80%;
		margin: 20px 10px;
	}
	#h1_1{
		margin-bottom: 20px;
		width: 60%;
	}
	.h2{
		display: block;
		font-size: 10px;
	}
	.main1_1{
		display: flex;
	}
	.lienhe{
		display: block;
	}
}
/* Tablet >=740px and <1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
	
}
